site_name: Platform Development Playbook
site_dir: site
repo_url: https://github.com/amdigital-co-uk/docs-playbook
repo_name: AM/Playbook
edit_uri: edit/main../../
site_url: !ENV ["SITE_URL"]
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - https://unpkg.com/mermaid@10.6.1/dist/mermaid.min.js
plugins:
  - awesome-pages
  - search
  - tags
  - glightbox
  - meta
  - git-revision-date-localized:
      enable_creation_date: true      
      enabled: !ENV [CI, false]
  - git-committers:
      repository: amdigital-co-uk/docs-playbook
      branch: main
      token: !ENV ["GIT_COMMITTERS_KEY"]
      enabled: !ENV [CI, false]
theme:
  logo: assets/images/AM no tag.png
  name: material
  favicon: assets/images/android-chrome-192x192.png 
  custom_dir: mkdocs-overrides
  features:
    - header.autohide
    - navigation.instant    
    - navigation.tracking
    - navigation.indexes
    - content.code.copy    
    - content.tabs.link
    - content.action.edit
    - content.action.view
    - search.share
    - navigation.instant.preview
    - navigation.path
    #- navigation.tabs
    #- navigation.tabs.sticky
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: AM      
      toggle:
          icon: material/eye-outline
          name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/eye
        name: Switch to light mode
        theme:
  icon:
    admonition:
      quote: octicons/book-16
      toolkit: material/toolbox
    repo: fontawesome/brands/github
extra:
  social:
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/company/adam-matthew-digital-ltd/mycompany/
    - icon: octicons/person-add-16
      link: https://careers.amdigital.co.uk/departments/platform-development
markdown_extensions:
- admonition
- pymdownx.details
- pymdownx.critic
- pymdownx.snippets
- pymdownx.superfences
- pymdownx.tasklist:
      custom_checkbox: true
- pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
- pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
- abbr
- attr_list
- md_in_html
- toc:
      permalink: true      
      title: On this page
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra:
  status:
    draft: draft